<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Lab1Service1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52115/Lab1Service1.asmx"
                binding="basicHttpBinding" bindingConfiguration="Lab1Service1Soap"
                contract="Labb1Service1.Lab1Service1Soap" name="Lab1Service1Soap" />
        </client>
    </system.serviceModel>
</configuration>