<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Lab1Service1Soap" />
                <binding name="Lab1Service2Soap" />
                <binding name="Lab1Service3Soap" />
                <binding name="Lab1Service4Soap" />
                <binding name="Lab1Service5Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52115/Lab1Service1.asmx"
                binding="basicHttpBinding" bindingConfiguration="Lab1Service1Soap"
                contract="Labb1Service1.Lab1Service1Soap" name="Lab1Service1Soap" />
            <endpoint address="http://localhost:52314/Lab1Service2.asmx"
                binding="basicHttpBinding" bindingConfiguration="Lab1Service2Soap"
                contract="Lab1Service2.Lab1Service2Soap" name="Lab1Service2Soap" />
            <endpoint address="http://localhost:62537/Lab1Service3.asmx"
                binding="basicHttpBinding" bindingConfiguration="Lab1Service3Soap"
                contract="Lab1Service3.Lab1Service3Soap" name="Lab1Service3Soap" />
            <endpoint address="http://localhost:65068/Lab1Service4.asmx"
                binding="basicHttpBinding" bindingConfiguration="Lab1Service4Soap"
                contract="Lab1Service4.Lab1Service4Soap" name="Lab1Service4Soap" />
            <endpoint address="http://localhost:5211/Lab1Service5.asmx" binding="basicHttpBinding"
                bindingConfiguration="Lab1Service5Soap" contract="Lab1Service5.Lab1Service5Soap"
                name="Lab1Service5Soap" />
        </client>
    </system.serviceModel>
</configuration>