<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBMICounter"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/BMIService/BMICounterService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBMICounter" contract="IBMICounter" name="WSHttpBinding_IBMICounter">
        <identity>
          <userPrincipalName value="BADGER\Jonas"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>