<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_INextThousandDays" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/NextThousandDayService/NextThousandDaysService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INextThousandDays"
                contract="INextThousandDays" name="WSHttpBinding_INextThousandDays">
                <identity>
                    <userPrincipalName value="BADGER\Jonas" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>