<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShipperservice" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8632/Shipperservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipperservice"
                contract="IShipperservice" name="BasicHttpBinding_IShipperservice" />
        </client>
    </system.serviceModel>
</configuration>