<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICharacterCreator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CharacterCreatorService/CharacterCreatorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICharacterCreator"
                contract="ICharacterCreator" name="WSHttpBinding_ICharacterCreator">
                <identity>
                    <userPrincipalName value="BADGER\Jonas" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>